// 主题颜色
%color{color:#442818;}
%fontColor{color:#C69C6D;}
// 悬浮板效果
%boxShadow{
    margin-bottom:0.266667rem;
    background: #FFF;
    border: 0.013333rem solid #F2EAE4;
    box-shadow: 0 0.053333rem 0.16rem 0 rgba(0,0,0,0.06);
    border-radius: 0.066667rem;
    overflow: hidden;
}
%padding{padding:0 0.266667rem;}
%margin{margin:0 0.266667rem;}
.f-details{
    height:100%;
    display:flex;
    flex-direction:column;
    .details-header{
        background:#fff;
        box-shadow: 0.0rem 0.026667rem 0.053333rem 0.0rem rgba(0,0,0,0.10);
        .header-wrap{
            height:0.666667rem;
            display:flex;
            align-items:center;
            li{
                text-align:center;
            }
            li:first-child{
                width:0.6rem;
                margin-left:0.066667rem;
                i{
                    font-size:0.453333rem;
                }
            }
            li:nth-child(2){
                flex:1;
                display:flex;
                justify-content:center;
                align-items:center;
                span{
                    font-size:0.266667rem;
                    @extend %color;
                }
            }
            li:last-child{
                width:0.6rem;
                margin-right:0.166667rem;
                i{
                    font-size:0.346667rem;
                }
            }
        }
    }
    .details-main{
        flex:1;
        overflow-x:hidden;
        margin-bottom:0.666667rem;
        .main-banner{
            height:4.0rem;
            img{
                width:100%;
                height:100%;
            }
        }
        .details-content{
            padding-top:0.2rem;
            @extend %margin;
            .product-info{
                margin-bottom:0.266667rem;
                p{
                    line-height:0.426667rem;
                }
                .info-en_name{
                    font-size:0.293333rem;
                    font-weight:bold;
                }
                .info-name{
                    font-size:0.24rem;
                }
                .info-price{
                    font-size:0.293333rem;
                    @extend %fontColor;
                }
            }
            .product-params{
                width:100%;
                @extend %boxShadow;
                .params-title{
                    height:0.6rem;
                    background:rgba(199,178,153,0.20);
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    @extend %padding;
                    li:first-child{
                        font-size:0.213333rem;
                        color:#333;
                    }
                    li:last-child{
                        display:flex;
                        flex-direction:column;
                        justify-content:center;
                        font-size:0.4rem;
                    }
                }
                .params-content{
                    display:flex;
                    flex-wrap:wrap;
                    margin:0.133333rem 0.266667rem;
                    padding-bottom:0.133333rem;
                    border-bottom:0.013333rem solid #ccc;
                    li{
                        width:50%;
                        i{
                            font-size:0.266667rem;
                            @extend %fontColor;
                        }
                        span{
                            font-size:0.186667rem;
                        }
                    }
                }
                .params-tips{
                    margin:0.2rem 0;
                    @extend %padding;
                    li{
                        display:flex;
                        align-items:center;
                        i{
                            font-size:0.24rem;
                            margin-right:0.133333rem;
                            color:#0cf;
                        }
                        p{
                            font-size:0.186667rem;
                            span{
                                font-size:0.16rem;
                                margin-left:0.133333rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .details-footer{
        position:fixed;
        left:0;
        bottom:0;
        z-index:10000;
        background:#fff;
        width:100%;
        .footer-button{
            height:0.666667rem;
            display:flex;
            background:#fff;
            li{
                height:0.666667rem;
                line-height:0.666667rem;
                text-align:center;
            }
            li:first-child{
                width:0.8rem;
                border-right:0.013333rem solid #ccc;
                position:relative;
                i{
                    font-size:0.32rem;
                }
                span{
                    display:inline-block;
                    background:#333;
                    height:0.266667rem;
                    line-height:0.266667rem;
                    position:absolute;
                    top:0.026667rem;
                    right:0.066667rem;
                    font-size:0.16rem;
                    color:#fff;
                    padding:0 0.066667rem;
                    border-radius:0.133333rem;
                    font-family:Arial;
                    font-weight:normal;
                }

            }
            li:nth-child(2){
                flex:1;
                font-size:0.213333rem;
            }
            li:last-child{
                flex:1;
                font-size:0.213333rem;
                background:#333;
                color:#fff;
            }
        }
        .footer-masked{
            position:fixed;
            left:0;
            top:0;
            height:92.5%;
            width:100%;
            z-index:-1000;
            background:rgba(0,0,0,0.5);
        }
        .masked-content{
            width:100%;
            background:#fff;
            position:absolute;
            bottom:-2.666667rem;
            left:0;
            z-index:-100;
            box-shadow: 0px -0.026667rem 0.053333rem 0px rgba(0,0,0,0.1);
            padding:0.133333rem 0.266667rem;
            .content-price{
                font-size:0.213333rem;
                line-height:0.4rem;
                margin-bottom:0.133333rem;
                color:red;
                font-weight:bold;
            }
            .content-img{
                display:flex;
                img{
                    width:2.4rem;
                    height:1.133333rem;
                }
                .content-options{
                    height:1.133333rem;
                    display:flex;
                    flex-direction:column;
                    padding-left:0.133333rem;
                    margin-bottom:0.266667rem;
                    li{
                        line-height:0.213333rem;
                        i{
                            font-size:0.213333rem;
                            @extend %fontColor;
                            margin-right:0.026667rem;
                        }
                        span{
                            font-size:0.186667rem;
                            @extend %color;
                        }
                    }
                }
            }
            .product-spec{
                font-size:0.213333rem;
                line-height:0.4rem;
                margin-bottom:0.133333rem;
            }
            .spec-text{
                display:flex;
                flex-wrap:wrap;
                margin-bottom:0.2rem;
                li{
                    width:22%;
                    margin:1.5%;
                    text-align:center;
                    background:#f7f7f7;
                    border:0.013333rem solid #f7f7f7;
                    .spec-name{
                        display:block;
                        font-size:0.213333rem;
                        height:0.426667rem;
                        line-height:0.426667rem;
                        @extend %color;
                    }
                }
                li.active{
                    border:1px solid #442818;
                    background: #fff url('http://m.21cake.com/themes/wap/img/icon_selected.png') no-repeat top left;
                    background-size: 0.16rem 0.16rem;
                }
            }
        }
    }
    .details-masked{
        background:rgba(0,0,0,0.4);
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:10001;
        .tips-text{
            display:block;
            width:3.733333rem;
            height:0.8rem;
            background:#fff;
            font-size:0.213333rem;
            height:0.666667rem;
            line-height:0.666667rem;
            text-align:center;
            @extend %color;
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
        }
    }
}