// 主题颜色
%color{color:#442818;}
// margin
%padding-20{padding:0.106667rem 0.266667rem;}
// bottom
%border-bottom{border-bottom:0.013333rem solid #ddd;}
// 弹性盒垂直居中
%flex-center{display:flex;flex-direction:column;justify-content:center;}
.f-myorder{
    height:100%;
    display:flex;
    flex-direction:column;
    .myorder-header{
        background:#fff;
        box-shadow: 0.0rem 0.026667rem 0.053333rem 0.0rem rgba(0,0,0,0.10);
        .header-title{
            height:0.666667rem;
            display:flex;
            justify-content:space-between;
            align-items:center;
            li{
                display:flex;
                flex-direction:column;
                align-items:center;
            }
            li:first-child{
                width:0.6rem;
                i{
                    font-size:0.453333rem;
                    @extend %color;
                }
            }
            li:nth-child(2){
                flex:1;
                .header-title{
                    font-size:0.266667rem;
                    @extend %color;
                }
            }
            li:last-child{
                width:0.6rem;
            }
        }
        .header-switch{
            display:flex;
            li{
                flex:1;
                text-align:center;
                padding-bottom:0.133333rem;
                span{
                    font-size:0.213333rem;
                    color:#888;
                }
            }
            li.active{
                border-bottom:0.026667rem solid #442818;
                span{
                    @extend %color;
                }
            }
        }
    }
    .myorder-main{
        flex:1;
        overflow-x:hidden;
        background:#f2f2f2;
        .order-style{
            display:flex;
            flex-direction:column;
            .order-box{
                margin:0.133333rem 0;
                background:#fff;
                .order-title{
                    @extend %padding-20;
                    @extend %border-bottom;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    span{
                        font-size:0.16rem;
                    }
                    span:nth-of-type(2){
                        font-size:0.213333rem;
                        color:red;
                    }
                }
                .order-product{
                    display:flex;
                    flex-direction:column;
                    li{
                        display:flex;
                        @extend %padding-20;
                        @extend %border-bottom;
                        .product-img{
                            width:20%;
                            @extend %flex-center;
                            img{
                                width:60%;
                            }
                        }
                        .product-info{
                            padding-left:0.133333rem;
                            width:60%;
                            @extend %flex-center;
                            .info-name{
                                font-size:0.213333rem;
                                @extend %color;
                            }
                            .info-spec{
                                font-size:0.186667rem;
                                color:#333;
                                line-height:0.4rem;
                            }
                        }
                        .product-price{
                            width:20%;
                            text-align:right;
                            @extend %flex-center;
                            .price{
                                font-size:0.24rem;
                                @extend %color;
                            }
                            .qty{
                                font-size:0.186667rem;
                                line-height:0.4rem;
                                @extend %color;
                            }
                        }
                    }
                }
                .order-footer{
                    display:flex;
                    @extend %padding-20;
                    .footer-left{
                        width:70%;
                        display:flex;
                        flex-direction:column;
                        li{
                            font-size:0.186667rem;
                            @extend %color;
                            span{
                                font-size:0.213333rem;
                                padding:0 0.08rem;
                            }
                        }
                        li:last-child{
                            span{
                                color:red;
                            }
                        }    
                    }
                    .footer-right{
                        width:30%;
                        display:flex;
                        flex-direction:column;
                        justify-content:space-between;
                        li{
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            border:0 none;
                            border-radius:0.066667rem;
                            span{
                                font-size:0.213333rem;
                                padding:0.026667rem;
                                @extend %color;
                            }
                        }
                        li:first-child{
                            border:0.013333rem solid red;
                            span{
                                color:red;
                            }
                        }
                        li:last-child{
                            border:0.013333rem solid #442818;
                        }
                    }
                }
            }
        }
    }
    #slide-wrapper{
        .cancel-icon{
            position:absolute;
            left:0.2rem;
            top:0.013333rem;
            font-size:45px;
            color:#E67E22;
        }
    }
    .myorder-masked{
        position:fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.5);
        .mask-content{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            width:3.2rem;
            height:2.4rem;
            background:#fff;
            @extend %padding-20;
            text-align:center;
            .content-title{
                margin:0.266667rem 0;
                font-size:0.32rem;
                line-height:0.533333rem;
                font-weight:normal;
                @extend %color;
            }
            span{
                display:inline-block;
                margin:0.266667rem 0.133333rem 0 0.133333rem;
                background:#ccc;
                padding:0.066667rem 0.133333rem;
                font-size:0.24rem;
                @extend %color;
            }
        }
    }
}