.w-sousuo{
    margin-top: 10px;
    margin-left: 50px;
}
.w-input {
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
   
}
.w-search{
    width: 50px;
    height: 40px;
    color:#fff;
    border: 0 none;
    background-color: #58bc58;
    font-size: 14px;
    border-radius: 5px;
}
table {
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    table-layout:fixed;
    word-break:break-all;
    border: 1px solid #eee;
}


table thead th {
    padding: 10px;
    font-size: 16px;
    background: #f5f5f5;
    text-align: center;
    border-right: 1px solid #eee;

}

table tbody td {
   
    padding: 10px;
    width: 100px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap ;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

table tbody td span{
    padding: 6px;
    width: 60px;
    height: 40px;
    color:#fff;
    font-size: 14px;
    
    border-radius: 10px;
    margin-right: 10px;
}
.edit{
    background-color: #58bc58;
}
.delete{
    background-color: red;
}
/*.w-tupian{
     text-align: center;
}*/
.w-tuichu{
        display: none;
        width: 200px;
        height: 50px;
        background:#000;
        opacity:0.3;
        position:fixed;
        top: 10px;
        left: 700px;
        z-index:100;
    }
.w-tuichu p{
            text-align:center;
            line-height: 50px;
            font-size: 14px;
            color:#fff;
        }  
/*编辑弹窗的样式*/
.mask{
    width: 600px;
    height: 400px;
    font-size: 18px;
    background-color: #f5f5f5;
    position:fixed;
    left: 500px;
    top: 210px;
    z-index: 999;
    border-radius: 10px;
}
.title,.content{
    margin: 10px 30px;

}
.content input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;

}
.content button{
    padding: 10px;
    width: 60px;
    height: 40px;
    color:#fff;
    font-size: 14px;
    
    border-radius: 10px;
    margin-right: 10px;
}
.title-head{
    color:#442818;
    font-size:22px;
    font-weight: bold;
}
.guanbi{
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: red;
    position:absolute;
    right: 10px;
    top: 10px;
    color:#fff;
}
/*分页*/
.w-paging{
    
    position:absolute;
    top: 0;
    right: 0;
}
.w-paging ul li{
    float: left;
    width: 40px;
    height: 40px;
    font-size: 12px;
    color:#000;
    line-height: 40px;
    text-align: center;
    margin-right: 4px;
    background-color: #f5f5f5;
}
