.community{
    height: 100%;
    display: flex;
    flex-direction: column;
    .w-head{
        width: 100%;
        position:fixed;
        border-bottom:1px solid #ccc;
        background:#fff;
         p{
            margin-top: 0.15625rem;
            text-align:center;
            }
        .w-nav{
            ul{
            width: 100%;
            height: 0.6rem;
            display:flex;
            padding:0.133333rem 0;
          
            
                li{
                    flex:1;
                    display:flex;
                    justify-content:center;
                    font-size: 18px;
                    span{
                        margin-bottom: -10px;
                    }
                    .active{
                        border-bottom:1px solid #442818;
                        
                    }
                }
           }
        }
    }
    .w-main{
        flex:1;
        width: 100%;
        text-align:center;
        margin-top: 1.190625rem;
        background:rgba(240, 233, 233, 0.877);
        ul li{
                margin-bottom: 0.3125rem;
             p{
                    font-size: 10px;
                    color:#fff;
                    background:#ccc;
                    width: 1.03125rem;
                    padding: 0.09375rem;
                    margin-top: 0.15625rem;
                    margin-bottom: 0.15625rem;
                    border-radius:0.15625rem;
                    text-align:center;
                    margin-left: 2.0125rem;
                 }
            img{
                margin-left: 0.15625rem;
                width: 4.7rem;
                height: 3.90625rem;
            }
        }
    }
     .w-main1{
        display: none;
        flex:1;
        width: 100%;
        margin-top: 1.190625rem;
        text-align:center;
        background:rgba(240, 233, 233, 0.877);

        ul li{
                margin-bottom: 0.3125rem;
            img{
                margin-top: 0.15625rem;
                margin-left: 0.15625rem;
                width: 4.7rem;
                height: 3.90625rem;
            }
        }
    }
}