.hole{
      .head{
        .box1{
            display:flex;height: 0.46875rem;margin-top: 0.15625rem;border-bottom:1px solid #ccc;
            li{
                flex:1;font-size:18px;
                i{
                    font-size:28px;margin-left: 0.15625rem;color:#000;
                }
            }
            li:nth-child(2){
                padding-left: 0.3125rem;
            }
        }
    }
    .box2{position:relative;
        .box4{
            li{
                height:0.625rem;border-bottom:1px solid #ccc;
            }
            label{
                font-size:18px;padding-left: 0.15625rem;
            }
            input{
                height:0.59375rem;width:84%;border:none;line-height: 0.59375rem;
            }
        }
        li:nth-child(1) i{
            font-size:14px;
        }
        .t1,.t2{
                height:0.9375rem;width:1.5625rem;background:
                #ccc;z-index:1000;line-height:0.9375rem;
                position:fixed;top:1.5625rem;left:1.796875rem;
                border-radius:0.09375rem;display:none;
            p{
                font-size:16px;text-align:center;color:#fff;
            }
        }
    }
    .bao{
        .cun{
            height:0.625rem;background-color:#000;
            width:93%;margin:0.15625rem;font-size:
            16px;color:#fff;border:none;
        }
    }
   
    //  .t2{
    //     height:1.5625rem;width:1.5625rem;background:#ccc;display:none;
    //     p{
    //         font-size:16px;
    //     }
    // }
}