.main{
    .header{height: 3.90625rem;position: relative; background:yellow;  display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
     justify-content:center;
        .cont{background-color:#fff;width:3.90625rem;
            .ull{
                height:0.625rem;display:flex;justify-content:space-between;
              li{
                text-align:center;line-height: 0.625rem;
                font-size:16px;position:relative;
                .t1{font-size:20px;padding-left: 0.078125rem
                    ;

                }
                b{
                    font-size:60px;position:absolute;top:-0.15625rem;left:0.15625rem;
                }

              }
                li:nth-child(1){
                    width: 1.25rem;
                }
                // li:nth-child(2){
                //     width: 1.5625rem;background-color:blue;
                // }
                li:nth-child(3){
                    width:0.78125rem;
                }
            }

        }
        .you{background:
            #fff;position:absolute;bottom:0pc;left:0px;width:100%;
            .hui{
                display:flex;justify-content:space-between;height:0.78125rem;
                li{
                     flex:1;
                    line-height:0.375rem;  
                    font-size:14px;
                     display:flex;flex-direction:column;
                      align-items:center;border-right:1px solid #ccc;

                }
                // li:nth-child(1){
                //     padding-left:0.625rem;padding-right: 1.25rem; border-left: 1px solid #ccc;

                // }
                // li:nth-child(2){
                //     padding-right:0.625rem;padding-right: 1.25rem; 

                // }

            }
        }
    }
    .t_main{border-top:0.109375rem solid #F0F0F0;border-bottom:0.109375rem solid #F0F0F0;
        .big{flex:1;display:flex;flex-direction:column;
            li{
                font-size:16px;
                line-height: 0.625rem;
                display:flex;justify-content:space-between;                border-bottom:0.015625rem solid #F0F0F0;
                span{
                    padding-left: 0.15625rem;
                    

                }
                b{
                    padding-right: 0.15625rem;
                    line-height:0.625rem; 
                }
                 


            }
           

        }
    }
    .c_main{
        .box{flex:1;display:flex;flex-direction:column;
            li{
                font-size:16px;
                line-height: 0.625rem;
                display:flex;justify-content:space-between;                border-bottom:0.015625rem solid #F0F0F0;
                span{
                    padding-left: 0.15625rem;
                    

                }
                i{
                    padding-right: 0.15625rem;
                    line-height:0.625rem;
                    b{
                       // padding-right: 0.15625rem;
                    line-height:0.625rem; 
                    }
                    em{
                        margin-right:0.15625rem;
                    } 


                }

                 

            }
           

        }
    }
    .b_main{
        height: 0.78125rem;border-top:0.109375rem solid #F0F0F0;border-bottom:1.875rem solid #F0F0F0;
        p{background:#fff;line-height: 0.78125rem;color:#ADADAD;text-align:center;font-size:18px;
            i{
                padding-left:0.625rem;
            }

        }
    }

}