.zhuce{
     .nav{ 
        .nvt{height:0.625rem;justify-content:space-between;
            display:flex;flex:1;
            
            a{color:#000;
                i{
                font-size:30px;  padding-right: 0.15625rem;

                }
                i:nth-child(1){
                    padding-left: 0.15625rem;padding-top:0.15625rem;
                }
            }
            a:nth-child(3){
              padding-right: 0.15625rem;font-size:18px;padding-top:0.15625rem;
            }
           span{
                text-align:center;line-height:0.46875rem;
                font-size:20px;color:#000;padding-top: 0.078125rem; 
            }
        }
    }
    .yzm{
        .form{padding:0.21875rem;
            li{ display:flex;justify-content:space-between; 
                height:0.78125rem;border-bottom:1px solid #ccc   ;
                input{width:100%;padding-top:0.3125rem;          
                    border:none;font-size:16px;
                }
                input:nth-child(5){
                    height: 0.703125rem;padding-top:none;          
                }
                span{
                    color:red;font-size:14px;padding-top:0.1875rem;

                }
                
                // a{
                    button{height:0.703125rem;background:#442818;text-align:center;font-size:14px;line-height:0.625rem;border-radius:0.125rem;width:100%;color:#fff;  
                        color:#fff;background-color:#442818;border:0; 
                    }      
              #tb{
                width:0.46875rem;height:0.703125rem;background:#fff; border:1px solid #fff;color:#ccc;font-size:30px;padding: 0.0625rem;
              }
                
            }
           #v_container{margin-top:0.015625rem;height:0.75rem;

            }

            li:nth-child(6){
                height: 0.46875rem;border-bottom:none;
            }
            li:nth-child(7){
              border-bottom:none;
            }
        }
        .xieyi{padding:0 0.21875rem;
            font-size:12px;color:#ccc;line-height: 0.3125rem;
            .tip{
                font-weight:bold;color:#000;
            }
        }


    }

}