#classfiy{
    display:flex;
    height: 100%;
    flex-direction:column;
    overflow:hidden;
    position:relative;
    .k-header{
        width: 100%;
        .Htop{
            width: 100%;
            height: 0.6rem;
            display:flex;
            padding:0.133333rem 0;
            border-bottom:1px solid #FCFCFC;
            li{
                width:20%;
                text-align:center;
                i{
                    font-size:0.293333rem;
                }
            }
            li:nth-child(2){
                flex:1;
                display:flex;
                justify-content:center;
                img{
                    width: 0.36rem;
                    height: 0.426667rem;
                    margin: 0;
                }
            }

        }
    }
    .zhezao{
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color:#252525;
        z-index:1001;
        opacity:0.97;
        transition:all 0.5s;
        display:none;
        h1{
            font-size:18px;
            color:#fff;
            border-bottom:2px solid #fff;
        }
        ul{
            margin-top:20px;
            li{
                height: 50px;
                width: 100%;
                color:#fff;
                font-size:16px;
                border-bottom:1px solid #fff;
                line-height:50px;
            }
        }
    }
    .k-nav{
        overflow: hidden;
        height:0.533333rem;  
        border-bottom:1px solid #ddd; 
        z-index:10;
        .Nav{
          height:0.603333rem;   
          overflow-y: hidden;
          white-space: nowrap;
            li{
                display: inline-block;
                font-size:0.186667rem;
                color:#867086;
                height: 0.533333rem;
                width: 1.093333rem;
                text-align:center;
                line-height:0.533333rem;
            }
            .k-active{
                color:#333;
                border-bottom:2px solid #333;
            }
        }
    }
    .k-main{
        flex:1;
        width: 100%;
        display:flex;
        flex-direction:column;
        overflow-x:hidden;
        margin-bottom:30px;
        .k-Tmain{
             .Main{
                display:flex;
                flex-wrap: wrap;
                padding:0 0.133333rem 0 0.266667rem;
                li{
                    width: 50%;
                    height: 3.466667rem;
                    position:relative;
                    margin-bottom:0.133333rem;
                    img{
                        width:2.133333rem;
                        height: 2.346667rem;
                    }
                    p{
                        font-size:0.186667rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    span{
                        font-size:0.186667rem;
                        color:#EEC188;
                    }
                    i{
                        font-size:18px;
                        color:#704934;
                        text-align:right;
                        position:absolute;
                        bottom:0.23667rem;
                        right: 0.2rem;
                    }
                }
            }
        }
        .k-Bmain{
            margin-bottom:0.693333rem;
            .title{
                width: 100%;
                height: 0.626667rem;
                background-color:#FBF9F6;
                overflow:hidden;
                p{
                    font-size:0.186667rem;
                    text-align:center;
                    margin-top:0.066667rem;
                    margin-bottom:0;
                }
                span{
                    display:block;
                    font-size:0.16rem;
                    text-align:center;
                    color:#D5BFA7;
                }
            }
            .look{
                .Look{
                    display:flex;
                    flex-wrap: wrap;
                    padding:0 0.133333rem 0 0.266667rem;
                    li{
                        width: 50%;
                        height: 3.466667rem;
                        position:relative;
                        img{
                            width:2.133333rem;
                            height: 2.346667rem;
                        }
                        p{
                            font-size:0.186667rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        span{
                            font-size:0.186667rem;
                            color:#EEC188;
                        }
                        .mask{
                            width: 100%;
                            height: 100%;
                            background-color:#fff;
                            position:absolute;
                            top: 0;
                            left: 0;
                            opacity:0.7;
                        }
                        h2{
                            color:#847065;
                            font-size:0.186667rem;
                            position:absolute;
                            top: 20%;
                            left: 30%;
                            z-index:100;
                        }
                    }
                }
            }
        }     
    }
    .k-content{
        width: 4.6rem;
        height: 5.6rem;
        border:1px solid #333;
        background-color:#fff;
        position:absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        padding:0.266667rem 0.306667rem;
        display:none;
        z-index:10000;
        .end{
            position:absolute;
            right: 20px;
            top: 5px;
            color:#BEABA1;
        }
        p{
            font-size:0.186667rem;
            margin-bottom:0.2rem;
            color:#2F2F2F;
        }
        .content-options{
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            li{
                width: 148px;
                font-size:0.186667rem;
                margin-bottom:0.133333rem;
                span{
                    color:#542818;
                }
                i{
                    color:#939393;
                }
            }
        }
        img{
            width: 100%;
            margin-bottom:0.133333rem;
        }
        .product-spec{
            color:#594133;
        }
        .spec-text{
            display:flex;
            flex-direction:row;
            li{
                width: 0.933333rem;
                height: 0.466667rem;
                font-size:0.186667rem;
                margin-bottom:0.133333rem;
                background-color:#F7F7F7;
                line-height:0.466667rem;
                text-align:center;
                margin-left:0.066667rem;
                span{
                    color:#542818;
                }
                i{
                    color:#939393;
                }
            }
            li.ative{
                border:1px solid #442818;
                background: #fff url('http://m.21cake.com/themes/wap/img/icon_selected.png') no-repeat top left;
                background-size: 12px 12px;
            }
        }
        .btn{
            display:block;
            width: 2.88rem;
            height: 0.573333rem;
            background-color:#442818;
            text-align:center;
            line-height:0.573333rem;
            border:none;
            color:#fff;
            margin:0.2rem 0 0 0.6rem;
            font-size:0.186667rem;
        }
    }
    .pop{
        position:absolute;
        top:36%;
        left: 50%;
        transform:translate(-50%,0);
        width:200px;
        height: 50px;
        background-color:#AB825F;
        color:#fff;
        opacity:0.7;
        text-align:center;
        line-height:0.666667rem;
        display:none;
        font-size:0.186667rem;
        z-index:100000;
    }
}

