.carBox{
    height: 100%;
    .carContent{
        display: flex;
        height: 100%;
        flex: 1;
        flex-direction: column;
        padding-bottom: 0.6667rem;
    }
    .carTop{
        height: 0.6667rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.1333rem;
        box-shadow: 0 0.0133rem 0.0133rem 0.0133rem rgba(0, 0, 0, 0.13);
        span{
            flex: 1;
            text-align: center;
            font-size: 0.25rem;
            i{
                font-size: 0.3067rem;
            }
        }
        span:nth-of-type(1){
            text-align: left;
        }
        span:nth-of-type(3){
            i{
                color:#000;
            }
            // width: 30px;
            text-align: right;
            color: red;
        }
    }
    .carCenter{
        flex:1;
        overflow-x: hidden;
        ul{
            li{
                background-color: #fff;
                padding: 0.1333rem ;
                border-bottom: 0.0133rem solid #eee;
                .goodsCon{
                    display: flex;
                    .goodsImg{
                        width: 1.4667rem;
                        display: flex;
                        align-items: center;
                        .labelContainer{
                            label{
                                width: 0.24rem;
                                display: inline-block;
                                vertical-align: middle;
                            }
                            width: 0.4rem;
                        }
                        img{
                            flex: 1;
                            width: 1rem;
                        }
                    }
                    .goodsDet{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        margin-left: 0.0667rem;
                        padding-right: 0.2667rem;
                        h2{
                            font-size: 0.1733rem;
                        }
                        span{
                            font-size: 0.1733rem;
                            margin: 0.04rem 0;
                        }
                        div{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 0.1233rem;
                            p{
                                font-size: 0.1533rem;
                                height: 0.3467rem;
                                line-height: 0.3467rem;
                                align-items: center;
                                display: flex;
                                span{
                                    display: inline-block;
                                    font-size: 0.2667rem;
                                    font-weight: 600;
                                    background-color:#F0F0F0;
                                    vertical-align: middle;
                                    height: 100%;
                                    line-height: 0.3467rem;
                                    width: 0.2667rem;
                                    text-align: center;
                                }
                                span:nth-of-type(2){
                                    font-weight: normal;
                                    font-size: 0.1733rem;
                                    width: 0.6667rem;
                                    height: 100%;
                                    line-height: 0.3467rem;
                                    background-color: #F7F7F7;
                                }

                            }

                        }
                    }
                }
                .package{
                    p{
                        display: flex;
                        align-items: center;
                        padding-left: 0.2667rem;
                        img{
                            width: 0.5rem;
                            height: 0.5rem;
                            margin-right: 0.0667rem;
                        }
                        span{
                            flex: 1;
                            font-size: 0.1733rem;
                        }

                    }
                }
            }
            li:last-child{
                border-bottom: 0 none;
            }
        }
    }
    .carBottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 0.1333rem;
        border-top: 0.0133rem solid #eee;
        .settlement{
              height: 0.6667rem;
              line-height: 0.6667rem;
              font-size: 0.2533rem;
              font-weight: 600;
              vertical-align: middle;
              overflow: hidden;
              .gosale{
                    display: inline-block;
                    height: 100%;
                    font-weight: 500;
                    // font-size: 0.2033rem;
                    background-color: #000;
                    color: #fff;
                    padding: 0 0.4333rem;
                   

              
                    /* border-radius: 12px; */
                    /* box-shadow: 0 2px 2px 1px #ccc; */
              }
              .noOrder{
                display: inline-block;
                height: 100%;
                font-weight: 500;
                // font-size: 0.2033rem;
                background-color:#ccc;
                color: #fff;
                padding: 0 0.4333rem;
               

          
                /* border-radius: 12px; */
                /* box-shadow: 0 2px 2px 1px #ccc; */
          }
              .total{
                height: 100%;
                    color: red;
                    font-size: 0.2033rem;
                    font-weight: 500;
              }
              .delCar{
                    font-weight: 500;
                    // font-size: 0.2033rem;
                    display: inline-block;
                    background-color: red;
                    color: #fff;
                    padding: 0 0.4333rem;
                    height: 100%;
              }
              .delEmpty{
                background-color: #ccc;
                font-weight: 500;
                // font-size: 0.2033rem;
                display: inline-block;
                color: #fff;
                padding: 0 0.4333rem;
                height: 100%;
            }
          }
    }
}

%showWidow{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(3, 3, 3, 0.281);
    display: flex;
    flex-direction: column;
    .editCon{
        margin:auto auto;
        box-sizing: border-box;
        width: 80%;
        height: 2.4rem;
        background-color: #fff;
        box-shadow: 0 0 0.3333rem 0.0133rem rgba(0, 0, 0, 0.316) ;
        border-radius: 0.0667rem;
        padding-top: 0.2667rem;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 0.2667rem;
            text-align: center;
        }
        p{
            text-align: center;
            height: 0.6667rem;
            margin: 0.1333rem;
            span{
                display: inline-block;
                border: 0.0133rem solid #ccc;
                vertical-align: middle;
                width: 0.6667rem;
            }
            input{
                display: inline-block;
                font-size: 0.3067rem;
                width: 1.0667rem;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                border: 0 none;
            }
        }
        div{
            display: flex;
            flex: 1;
            align-items: center;
            border-top: 0.0133rem solid #eee;
            span{
                height: 0.6667rem;
                color: rgba(0, 0, 255, 0.486);
                border-right: 0.0133rem solid #eee;
                flex: 1;
                text-align: center;
                font-size: 0.2667rem;
                line-height: 0.6667rem;
            }
        }
    }
}

.changeQtyForCar{
   @extend %showWidow;
}
.delGoods{
    @extend %showWidow;
    h2{
        margin-bottom: 0.1333rem;
    }
    .editCon{
        height: 1.6rem;
    }
}

.labelContainer label{
    display: flex;
    width: 0.8667rem;
    font-size:  0.1733rem;
    span{
        margin-left: 0.1333rem;
    }
    input[type="checkbox"]:checked + .radio-beauty {
        padding: 0.04rem;
        width: 0.24rem;
        // height: 0.24rem;
        background-color: #000;
        background-clip: content-box;
     }
     .radio-beauty {
         width: 0.24rem;
         height: 0.24rem;
         /* box-sizing: border-box; */
         display: inline-block;
         border: 0.0133rem solid rgb(128, 126, 126);
         text-align: center;
         /* margin: 0 0.2rem 0 3px; */
         border-radius:50%;
    }
}
.emptyCar{
    // height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    .carTop{
        width: 100%;
        height: 0.6667rem;
        box-shadow: 0 0.0133rem 0.0133rem 0.0133rem rgba(0, 0, 0, 0.13);
    }
    .emptyCon{
        // height: 300px;
        padding: 1.3333rem 0;
        img{
            height: 2rem;
            width: 2rem;
            display: block;
            margin: 0 auto;
        }
        p{
            margin: 0.1333rem 0;
            font-size: 0.1867rem;
            color: #D5BFA7;
            text-align: center;
        }
        span{
            width: 1.6rem;
            margin: 0 auto;
            display: block;
            text-align: center;
            font-size: 0.1733rem;
        }
    }
}
