.order_c{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #eee;
    .orderTop_c{
        height: 0.6667rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.1333rem;
        background-color: #fff;
        span{
            i{
                font-size: 0.3067rem;
            }
        }
        span:nth-of-type(2){
            font-size: 0.25rem;
        }
    }
    .orderCenter_c{
        flex: 1;
        overflow-x: hidden;
        padding-top: 0.1333rem;
        .address_c{
            display: flex;
            flex-direction: column;
            height: 0.8rem;
            background-color: #fff;
            p:nth-of-type(1),p:nth-of-type(3){
                height:0.0267rem;
                width: 100%;
                background:url("https://morder.jiuxian.com/ordernew/wap/images/addBor.png") repeat-x bottom ;
                background-position: -0.0667rem 0;
            }
            p:nth-of-type(2){
                flex:1;
                align-self: center;
                line-height: 0.7467rem;
                font-size: 0.2rem;
            }
        }
        .orderBanner_c{
           padding: 0.2667rem 0.1333rem;
           .swiper-container_c{
               overflow: hidden;
               ul{
                   li{
                       margin-right: 1%;
                       img{
                           width: 100%;
                           height: 1.4667rem;
                       }
                       div{
                           width: 100%;
                           height: 0.5333rem;
                           position: absolute;
                           bottom: 0;
                           left: 0;
                           background-color: rgba(0, 0, 0, 0.438);
                           display: flex;
                           flex-direction: column;
                           justify-content: space-between;
                           padding: 0.04rem;
                           p{
                               font-size: 0.16rem;
                               color: #fff;
                           }
                           p:nth-of-type(2){
                               display: flex;
                               width: 100%;
                               justify-content: space-between;
                           }
                       }
                   }
                   li:last-child{
                       margin-right: 0;
                   }
               }
           }
        }
        .orderTime_c{
            ul{
                li{
                    display: flex;
                    justify-content: space-between;
                    padding: 0.2667rem 0.1333rem;
                    background-color: #fff;
                    align-items: center;
                    p{
                        font-size: 0.2rem;
                    }
                }
                li{
                    p:last-child{
                        i{
                            font-size: 0.2667rem;
                        }
                    }
                    p:last-child{
                        span{
                            margin-right: 0.2667rem;
                            display: inline-block;
                        }

                    }
                }
                li:nth-of-type(1){
                    p:first-child{
                        font-weight: 600;
                        i{
                            color: #000;
                            margin-right: 0.1333rem;
                        }
                    }
                }
            }
        }
    }
    .orderBot_c{
        width: 100%;
        // border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        p{
            height: 100%;
            line-height: 0.6667rem;
            font-size: 0.2rem;
            span{
                i{
                    font-weight: 600;
                    font-size: 0.24rem;
                    color: red;
                }
            }
            span:last-child{
                display: inline-block;
                padding: 0 0.2667rem;
                height: 0.6667rem;
                background-color: #000;
                color: #fff;
                font-size: 0.2rem;
                margin-left: 0.1333rem;
            }
        }
    }
    .orderFade-enter{
        opacity: 0;
    }
    .orderFade-enter-active{
        transition: all .5s;
    }
    .orderFade-leave-active{
        opacity: 0; transition: all 1.5s;
    }
    .orderTip{
        width: 200px;
        height: 100px;
        margin: auto auto;
        background-color: rgba(0, 0, 0, 0.838);
        color: #fff;
        font-size: 18px;
        line-height: 100px;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 50%;
        border-radius: 10px;
        transform: translate(-50%,-50%)
    }
}
.pickMark{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    z-index: 100;
    .pickCon{
        width: 85%;
        height: 38%;
        background-color: #fff;
        margin: auto auto; 
        border-radius: 0.0667rem;
        p{
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 0.2667rem;
            border-top: 0.0133rem solid #ccc;
            span{
                flex: 1;
                height: 0.8rem;
                line-height: 0.8rem;
                text-align: center;
                border-right: 0.0133rem solid #ccc;
                color: rgba(54, 54, 134, 0.74);
                font-size: 0.24rem;
            }

        }
        h2{
            font-size: 0.3067rem;
            padding: 0.1333rem;
            margin-bottom: 0.2667rem;
        }
        div{
            display: flex;
            justify-content: space-between;
            .selectItem{
                flex:1;
                height: 1.3333rem;
                background-color: rgba(204, 204, 204, 0.247);
                overflow: hidden;
                text-align: center;
    
                ul{
                    padding-top: 0.0667rem;
                    li{
                        height: 0.2667rem;
                        font-size: 0.24rem;
                        color:rgba(0, 0, 0, 0.767);
                    }
                    li:nth-of-type(2){
                        font-weight: 800;
                    }
                }
            }
        }
    }
    
}