.serverBleft{
    ul li{
        padding: 20px;
        text-align:center;
        border-bottom:1px solid #ccc;
        input{

            border:0 none;
        }
        a{
            font-size: 18px;
            color:#442818;
        }
    }
}