.dl{
    .nav{ 

        .nvt{height:0.625rem;flex:1;justify-content:space-between;display:flex;
            a{color:#000;
                i{
                font-size:35px;line-height:0.78125rem;  padding-right: 0.15625rem;

                }
                i:nth-child(1){
                    padding-left: 0.15625rem;
                }
            }
            a:nth-child(3){
              padding-right: 0.15625rem;font-size:18px;padding-top:0.15625rem;
            }
           span{
                text-align:center;line-height:0.46875rem;font-size:20px;color:#000; margin-top: 0.078125rem;
            }
        }
    }
    .yzm{
        .form{padding:0.21875rem;
            li{ display:flex;justify-content:space-between; 
                height:0.703125rem;border-bottom:1px solid #ccc   ;
                input{width:100%;padding-top:0.3125rem;          
                    border:none;font-size:16px;
                }
                span{
                    color:red;font-size:14px;padding-top:0.1875rem;
                }
                
                a{height:0.703125rem;background:#442818;text-align:center;font-size:14px;border-radius:0.125rem;width:100%;color:#fff;  line-height:0.703125rem;
                    span{color:#fff;
                        background-color:#442818;border:0;
                    }      
              
                }
            }
            li:nth-child(4){
              border-bottom:none;height:0.46875rem; 
            }
        }
        .xieyi{padding:0 0.21875rem;
            font-size:12px;color:#ccc;line-height: 0.3125rem;
            .tip{
                font-weight:bold;color:#000;
            }
        }
    }

}