// 主题颜色
%color{color:#442818;}
// 标题背景颜色
%bgColor{
    display:inline-block;
    height:0.266667rem;
    font-size:0.186667rem;
    background:#F4EBE2;
    padding:0 0.133333rem;
    border-radius:0.133333rem;
    @extend %color;
}
// 标题
%title{
    height:0.533333rem;
    margin:0.133333rem 0 0 0;
    border-top:0.013333rem solid #e5e5e5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    span{
        @extend %bgColor;
    }
}
// 悬浮板效果
%boxShadow{
    margin-bottom:0.266667rem;
    background: #FFF;
    border: 0.013333rem solid #F2EAE4;
    box-shadow: 0 0.053333rem 0.16rem 0 rgba(0,0,0,0.06);
    border-radius: 0.066667rem;
    overflow: hidden;
}
.f-index{
    height:100%;
    display:flex;
    flex-direction:column;
    .index-masked{
        position:fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background:rgba(0,0,0,0.5);
        z-index:9999;
        .masked-box{
            width:340px;
            height:300px;
            background:#fff;
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            .city-title{
                font-size:20px;
                font-weight:normal;
                line-height:40px;
                margin:20px 15px;
                @extend %color;
            }
            .city-content{
                display:flex;
                flex-wrap:wrap;
                li{
                    width:22%;
                    margin:1.5%;
                    text-align:center;
                    background:#f7f7f7;
                    border:1px solid #f7f7f7;
                    .city-name{
                        display:block;
                        font-size:14px;
                        height:32px;
                        line-height:32px;
                        @extend %color;
                    }
                }
                li.active{
                    border:1px solid #442818;
                    background: #fff url('http://m.21cake.com/themes/wap/img/icon_selected.png') no-repeat top left;
                    background-size: 12px 12px;
                }
                
            }
            .city-button{
                background: #442818;
                height: 35px;
                line-height: 35px;
                text-align: center;
                color: #fff;
                font-size: 15px;
                width: 128px;
                margin: 35px auto 12px;
                display: block;
            }
        }
    }
    .index-header{
        background:#fff;
        box-shadow: 0.0rem 0.026667rem 0.053333rem 0.0rem rgba(0,0,0,0.10);
        .header-ul{
            display:flex;
            height:0.666667rem;
            li{
                display:flex;
                flex-direction:column;
                justify-content:center;
            }
            li:first-child{
                width:0.6rem;
                margin:0 0.266667rem;
                img{
                    width:90%;
                }
            }
            li:nth-child(2){
                flex:1;
                position:relative;
                .fdj{
                    position:absolute;
                    left:0.133333rem;
                    top:0.2rem;
                    @extend %color;
                    font-size:0.213333rem;
                }
                .header-input{
                    width:100%;
                    height:0.346667rem;
                    border:0 none;
                    border-bottom:0.013333rem solid #442818;
                    padding-left:0.4rem;
                }
                input::-webkit-input-placeholder{
                    @extend %color;
                }
            }
            li:last-child{
                width:0.773333rem;
                margin:0 0.266667rem;
                .header-location{
                    padding-bottom:0.066667rem;
                    i{
                        font-size:0.293333rem;
                        @extend %color;
                    }
                    span{
                        font-size:0.24rem;
                        @extend %color;
                    }
                }
            }
        }
    }
    .index-main{
        flex:1;
        overflow-x:hidden;
        margin-bottom:0.693333rem;
        .main-banner{
            height:2.666667rem;
            img{
                width:100%;
                height:auto;
            }
        }
        .main-wrap{
            margin:0 0.266667rem;
            .wrap-tips{
                display:flex;
                justify-content:space-around;
                margin:0.133333rem 0;
                li{
                    display:flex;
                    height:0.4rem;
                    justify-content:center;
                    align-items:center;
                    em{
                        display:inline-block;
                        width:0.186667rem;
                        height:0.186667rem;
                        margin-top:0.04rem;
                        margin-right:0.026667rem;
                        background:url('http://10.3.133.73:88/car.png') no-repeat;
                        background-position:0 -0.2rem;
                        background-size:1.2rem auto;
                    }
                    span{
                        font-size:0.16rem;
                        color:#C69C6D;
                    }
                    
                }
            }
            .wrap-nav{
                display:flex;
                justify-content:space-around;
                li{
                    width:25%;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                    img{
                        width:70%;
                    }
                    span{
                        font-size:0.186667rem;
                        @extend %color;
                    }
                }
            }
            .wrap-content{
                .content-title{
                    @extend %title;
                }
                .content-info{
                    li{
                        @extend %boxShadow;
                        .info-img{
                            height:2.373333rem;
                            img{
                                width:100%;
                            }
                        }
                        .info-text{
                            display:flex;
                            padding:0.133333rem 0.133333rem;
                            .info-left{
                                flex:1;
                                @extend %color;
                                .name{
                                    font-size:0.2rem;
                                    font-weight:bold;
                                    line-height:0.373333rem;
                                    span{
                                        color:#C69C6D;
                                        font-size:0.186667rem;
                                    }
                                    em{
                                        font-size:0.186667rem;
                                        color:#A6A6A6;
                                        font-weight:normal;
                                    }
                                }
                                .en_name{
                                    font-size:0.16rem;
                                }
                            }
                            .info-right{
                                width:0.613333rem;
                                .btn-car{
                                    width:0.6rem;
                                    height:0.6rem;
                                    border:0 none;
                                    outline:none;
                                    background:none;
                                    background:url('http://10.3.133.73:88/car.png') no-repeat;
                                    background-position:-0.466667rem 0.04rem;
                                    background-size:1.066667rem auto;
                                }
                            }
                        }
                    }
                }
            }
            .wrap-activity{
                .activity-title{
                    @extend %title;
                }
                .activity-content{
                    display:flex;
                    height:1.92rem;
                    @extend %boxShadow;
                    li:first-child{
                        width:40%;
                        padding:0.133333rem 0 0 0.133333rem;
                        .activity-name{
                            font-size:0.213333rem;
                            @extend %color;
                            line-height:0.4rem;
                        }
                        .activity-en_name{
                            font-size:0.186667rem;
                            height:0.933333rem;
                        }
                        .activity-remain{
                            font-size:0.213333rem;
                            color:#C2A185;
                        }
                    }
                    li:last-child{
                        width:60%;
                        img{
                            width:100%;
                            height:auto;
                        }
                    }
                }
            }
            .wrap-magazine{
                overflow:hidden;
                margin-bottom:0.666667rem;
                .magazine-title{
                    @extend %title;
                }
                .manazine-box{
                    height:2.266667rem;
                    li{
                        margin-right:0.2rem;
                        @extend %boxShadow;
                    }
                    li:last-child{
                        margin-right:0.0rem;
                    }
                    img{
                        height:1.6rem;
                        width:100%;
                    }
                    .manazine-info{
                        font-size:0.186667rem;
                        line-height:0.533333rem;
                        padding-left:0.2rem;
                    }
                }
            }
        }
    }
}